# IDE/Editor files
.idea
.ensime
.ensime_cache/
waves.directory_IS_UNDEFINED/
lto.directory_IS_UNDEFINED/
.vscode

# scala build folders and files
target
out
*.tgz
*.jar
!dependencies/**/*.jar

# vim
*.*~

# dotfiles
.editorconfig
.DS_Store

# logs
*.log

# local settings
localsettings.json
genesis.conf
local.conf
lto-custom.conf

# Text files
*.ods
*.csv
*.dat

package
!src/package
native
.bsp

# python
*__pycache__*
.venv

